.header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 72px;
    border-bottom: 2px solid white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
    background-color: #1c1e20;
}

.header-main > * {
    color: white;
}

.active-link {
    scale: 1.1;
    color: rgba(161, 215, 108, 1) !important;
}

.logo-header {
    cursor: pointer;
}

.card-mainPage {
    color: white !important;
}